<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.niux.efc.bluetooth">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission-sdk-23
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>
